<!-- Default home page -->
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="styles/question.css">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script language="JavaScript" src="js/question.js">
    </script>
  </head>
  <body>
    <!-- 回退刷新-->
    <input type="hidden" id="refreshed" value="no">
    <!-- 弹窗内容 -->
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body">
          <h2>这是必填问题请选择选项！</h2>
        </div>
      </div>
    </div>
    <div class="default-page">
      <div class="header">
        <!-- 标题内容 -->
        <h1 id="main-title" class="container"><label><%= __('问卷调查') %></label></h1>
      </div>
      <form id="form1" class="form-horizontal" action="./middlepage">
      <!-- 表单内容 -->
        <div class="main-form">
          <br>
          <hr>
          <div class="main">
            <img src="./images/nasetech.jpg">
            <div id="<%= question1.id%>" class="col-sm-offset-5">
              <h2 id="second-title"><%= question1.title%></h2><br>
              <% _.each(question1.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question1.id%>" onchange="show(<%= options.target %>, <%= question1.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question2.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question2.title%></h2><br>
              <% _.each(question2.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question2.id%>" onchange="show(<%= options.target %>, <%= question2.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question3.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question3.title%></h2><br>
              <% _.each(question3.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question3.id%>" onchange="show(<%= options.target %>, <%= question3.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question4.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question4.title%></h2><br>
              <% _.each(question4.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question4.id%>" onchange="show(<%= options.target %>, <%= question4.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question5.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question5.title%></h2><br>
              <% _.each(question5.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question5.id%>" onchange="show(<%= options.target %>, <%= question5.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
          <div id="<%= question6.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question6.title%></h2><br>
              <% _.each(question6.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question6.id%>" onchange="show(<%= options.target %>, <%= question6.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question7.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question7.title%></h2><br>
              <% _.each(question7.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question7.id%>" onchange="show(<%= options.target %>, <%= question7.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question8.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question8.title%></h2><br>
              <% _.each(question8.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question8.id%>" onchange="show(<%= options.target %>, <%= question8.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question9.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question9.title%></h2><br>
              <% _.each(question9.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question9.id%>" onchange="show(<%= options.target %>, <%= question9.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question10.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question10.title%></h2><br>
              <% _.each(question10.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question10.id%>" onchange="show(<%= options.target %>, <%= question10.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question11.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question11.title%></h2><br>
              <% _.each(question11.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question11.id%>" onchange="show(<%= options.target %>, <%= question11.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
          <div id="<%= question12.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question12.title%></h2><br>
              <% _.each(question12.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question12.id%>" onchange="show(<%= options.target %>, <%= question12.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question13.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question13.title%></h2><br>
              <% _.each(question13.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question13.id%>" onchange="show(<%= options.target %>, <%= question13.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question14.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question14.title%></h2><br>
              <% _.each(question14.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question14.id%>" onchange="show(<%= options.target %>, <%= question14.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question15.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question15.title%></h2><br>
              <% _.each(question15.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question15.id%>" onchange="show(<%= options.target %>, <%= question15.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question16.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question16.title%></h2><br>
              <% _.each(question16.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question16.id%>" onchange="show(<%= options.target %>, <%= question16.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question17.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question17.title%></h2><br>
              <% _.each(question17.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question17.id%>" onchange="show(<%= options.target %>, <%= question17.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
          <div id="<%= question18.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question18.title%></h2><br>
              <% _.each(question18.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question18.id%>" onchange="show(<%= options.target %>, <%= question18.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question19.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question19.title%></h2><br>
              <% _.each(question19.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question19.id%>" onchange="show(<%= options.target %>, <%= question19.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question20.id%>" class="col-sm-offset-5" style="display:none">
              <h2 id="second-title"><%= question20.title%></h2><br>
              <% _.each(question20.options, function (options) { %>
              <div class="col-sm-offset-1 radio">
                <label>
                <input  type="radio" name="<%= question20.id%>" onchange="show(<%= options.target %>, <%= question20.id%>)" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
            </div>
            <div id="<%= question21.id%>" class="col-sm-offset-5" style="display:none">
              <h2><%= question21.title%></h2><br>
              <% _.each(question21.options, function (options) { %>
              <div class="checkbox">
                <label>
                  <input  type="checkbox" name="<%= question21.id%>" onchange="" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
                <input class="btn btn-default" type="button" value="下一题" onclick="checkval(<%= question21.target %>,<%= question21.id%>)">
            </div>
            <div id="<%= question22.id%>" class="col-sm-offset-5" style="display:none">
              <h2><%= question22.title%></h2><br>
              <% _.each(question22.options, function (options) { %>
              <div class="checkbox">
                <label>
                  <input  type="checkbox" name="<%= question22.id%>" onchange="" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
                <input class="btn btn-default" type="button" value="下一题" onclick="checkval(<%= question22.target %>,<%= question22.id%>)">
            </div>
            <div id="<%= question23.id%>" class="col-sm-offset-5" style="display:none">
              <h2><%= question23.title%></h2><br>
              <% _.each(question23.options, function (options) { %>
              <div class="checkbox">
                <label>
                  <input  type="checkbox" name="<%= question23.id%>" onchange="" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
                <input class="btn btn-default" type="button" value="下一题" onclick="checkval(<%= question23.target %>,<%= question23.id%>)">
            </div>
            <div id="<%= question24.id%>" class="col-sm-offset-5" style="display:none">
              <h2><%= question24.title%></h2><br>
              <% _.each(question24.options, function (options) { %>
              <div class="checkbox">
                <label>
                  <input  type="checkbox" name="<%= question24.id%>" onchange="" value="<%= options.val %>"><%= options.title %>
                </label><br><br>
              </div>
              <% }) %>
                <input class="btn btn-default" type="button" value="下一题" onclick="checkval(<%= question24.target %>,<%= question24.id%>)">
            </div>
            <div id="50" class="usermessage" style="display:none">
              <!-- user内容 -->
              <div class="form-group">
                <label for="username" class="col-md-2 control-label">Name:</label>
                <div class="col-md-10">
                  <input type="text" name="userName" class="form-control" id="username" placeholder="姓名" required>
                </div>
              </div>
              <div class="form-group">
                <label for="email" class="col-md-2 control-label">Email:</label>
                <div class="col-md-10">
                  <input type="email" name="email" class="form-control" id="email" placeholder="邮箱" required>
                </div>
              </div>
              <div class="form-group">
                <label for="tel" class="col-md-2 control-label">Telephone:</label>
                <div class="col-md-10">
                  <input type="text" name="tel" class="form-control" id="tel" minlength="11" maxlength="11" placeholder="联系方式" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-6 col-md-10">
                  <button type="submit" class="btn btn-default">提交</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
  
  